<img src="/img/c/{{credential.id}}/png" width="500" height="261" />


{{!-- <table>
  <tr>
    <td>{{credential.issuanceDate}}</th>
    <td>{{credential.type}}</th>
    <td>{{credential.issuer.name}}</th>
    <td>{{credential.subject.name}}</th>
  </tr>
</table>


{{#each credential.claims}}
{{type}} <b>{{value}}</b>
{{~/each}}
 --}}
