<h1>Home</h1>
<table>
  <tr>
    <th>Date</th>
    <th>Kudos</th>
    <th>From</th>
    <th>To</th>
  </tr>
{{#each claims}}
  <tr>
    <td>{{formatDistanceToNow issuanceDate}}</th>
    <td><a href="/c/{{credential.id}}">{{value}}</a></th>
    <td><a href="/identity/{{issuer.did}}"><img src="{{issuer.profileImage}}" width="20" height="20" /> {{issuer.name}}</a></th>
    <td><a href="/identity/{{subject.did}}"><img src="{{subject.profileImage}}" width="20" height="20" />{{subject.name}}</a></th>
  </tr>
{{~/each}}
</table>

Total: {{count}}