<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{og_title}}</title>
  <meta property="og:title" content="{{og_title}}" />
  <meta property="og:url" content="{{og_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="{{og_site_name}}" />
  <meta property="og:description" content="{{og_description}}" />
  <meta property="og:image" content="{{og_image}}" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="261" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{og_image}}">
  <meta name="twitter:title" content="{{og_title}}">
  <meta name="twitter:description" content="{{og_description}}">
  <link rel="image_src" href="{{og_image}}" />
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <style>
    .credential {
      border: 1px solid gray;
      margin-bottom: 10px;
      padding: 5px;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      color: black;
    } 

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #222;
        color: #cad8e6;
      }
      h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #cad8e6;
      } 
      .bg_primary {
        background-image: linear-gradient(#4c738a, #2c3c46 60%, #2a363e);
      }
    }   
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">i227</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/identities">Identities</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    {{{body}}}
  </div> 
</body>
</html>