<img src="/img/c/{{credential.id}}/png" style="max-width: 500px; width: 100%; margin-top: 10px" />

<div>
  From: <a href="/identity/{{credential.issuer.did}}"><img src="{{credential.issuer.profileImage}}" width="20" height="20" /> {{credential.issuer.name}}</a>
</div>
<div>
  To: <a href="/identity/{{credential.subject.did}}"><img src="{{credential.subject.profileImage}}" width="20" height="20" />{{credential.subject.name}}</a>
</div>
<div>
  {{formatDistanceToNow credential.issuanceDate}}
</div>

<img
  src="https://chart.googleapis.com/chart?chs=540x540&cht=qr&chl={{credential.raw}}&choe=UTF-8"
  style="max-width: 500px; width: 100%; margin-top: 10px"
/>

