{{#each claims}}
<div style="margin-bottom: 20px;">

  <div>
    From: <a href="/identity/{{issuer.did}}"><img src="{{issuer.profileImage}}" width="20" height="20" /> {{issuer.name}}</a>
  </div>
  <div>
    To: <a href="/identity/{{subject.did}}"><img src="{{subject.profileImage}}" width="20" height="20" />{{subject.name}}</a>
  </div>
  <div>
    {{formatDistanceToNow issuanceDate}}
  </div>
  <a href="/c/{{credential.id}}">
    <img src="/img/c/{{credential.id}}/svg" style="max-width: 300px; width: 100%; margin-top: 10px" />
  </a>
  <hr/>

</div>
{{~/each}}


Total: {{count}}