<img src="{{identity.profileImage}}" width="50" height="50" />
<H2>{{identity.name}}</H2>

<h4>Latest received kudos</h4>

{{#each receivedCredentials}}
  <div class="credential">
    

    <a href="/c/{{id}}">
      {{#each claims}}
        <div><b>{{value}}</b></div>
      {{~/each}}
    </a>
    <a href="/identity/{{issuer.did}}"><img src="{{issuer.profileImage}}" width="20" height="20" /> {{issuer.name}}</a> | {{formatDistanceToNow issuanceDate}}
  </div>
{{~/each}}
Total: {{receivedCredentialsCount}}

<h4>Latest given kudos</h4>

{{#each issuedCredentials}}
  <div class="credential">
    <a href="/identity/{{subject.did}}"><img src="{{subject.profileImage}}" width="20" height="20" /> {{subject.name}}</a>
    <a href="/c/{{id}}">
      {{#each claims}}
        <div><b>{{value}}</b></div>
      {{~/each}}
    </a>
    {{formatDistanceToNow issuanceDate}}
  </div>
{{~/each}}

Total: {{issuedCredentialsCount}}
